name: Setup Fastfetch Ubuntu arm64

inputs:
  use-prerelease:  # id of input
    description: 'Use pre-release'
    default: false
    type: boolean

runs:
  using: 'composite'
  steps:
  - uses: robinraju/release-downloader@v1
    with:
      repository: 'fastfetch-cli/fastfetch'
      latest: true
      preRelease: ${{ github.event.inputs.use-prerelease }}
      fileName: 'fastfetch-linux-aarch64.deb'
      tarBall: false
      zipBall: false
      out-file-path: '/tmp/fastfetch'
  - name: Install Fastfetch arm64
    shell: bash
    env:
      DEBIAN_FRONTEND: noninteractive
    run: sudo dpkg -i /tmp/fastfetch/fastfetch-linux-aarch64.deb
  - name: Remove unused files
    shell: bash
    run: rm -rf /tmp/fastfetch