name: Setup Fastfetch MacOS arm64

inputs:
  use-prerelease:  # id of input
    description: 'Use pre-release'
    default: false
    type: boolean

runs:
  using: 'composite'
  steps:
  - uses: robinraju/release-downloader@v1
    with:
      repository: 'fastfetch-cli/fastfetch'
      latest: true
      preRelease: ${{ github.event.inputs.use-prerelease }}
      fileName: 'fastfetch-macos-aarch64.tar.gz'
      tarBall: false
      zipBall: false
      out-file-path: '/tmp/fastfetch'
  - name: Extract Fastfetch arm64
    shell: bash
    run: |
        cd /tmp/fastfetch
        sudo tar -xzvf fastfetch-macos-aarch64.tar.gz

        cd fastfetch-macos-aarch64
        sudo chmod -R 555 usr
        sudo cp -r usr/bin/* /usr/local/bin/
        sudo cp -r usr/share/* /usr/local/share/
  - name: Remove unused files
    shell: bash
    run: sudo rm -rf /tmp/fastfetch