name: 'Setup Fastfetch Windows'

inputs:
  use-prerelease:
    description: 'Use pre-release'
    default: false
    type: boolean

runs:
  using: 'composite'
  steps:
    - name: Set correct fastfetch package name arch
      shell: cmd
      run: |
          IF /I "%PROCESSOR_ARCHITECTURE%" == "AMD64" (
            echo "DL_NAME=fastfetch-windows-amd64.7z" >> %GITHUB_ENV%
            echo "FOLDER_NAME=fastfetch-windows-amd64" >> %GITHUB_ENV%
          ) ELSE IF /I "%PROCESSOR_ARCHITECTURE%" == "ARM64" (
            echo "DL_NAME=fastfetch-windows-aarch64.7z" >> %GITHUB_ENV%
            echo "FOLDER_NAME=fastfetch-windows-aarch64" >> %GITHUB_ENV%
          ) ELSE (
            echo Unknown CPU architecture: %PROCESSOR_ARCHITECTURE%
            exit /b 1
          )

    # - name: Fix temp folder variable # They broke this somehow, https://github.com/actions/runner-images/issues/712#issuecomment-613004302
    #   shell: cmd
    #   run: |
    #       echo "TEMP=%USERPROFILE%\AppData\Local\Temp" >> %GITHUB_ENV%
    #       echo "TMP=%USERPROFILE%\AppData\Local\Temp" >> %GITHUB_ENV%

    - uses: robinraju/release-downloader@v1
      with:
        repository: 'fastfetch-cli/fastfetch'
        latest: true
        preRelease: ${{ github.event.inputs.use-prerelease }}
        fileName: ${{ env.DL_NAME }}
        tarBall: false
        zipBall: false
        out-file-path: '$TEMP\fastfetch'

    - name: Extract Fastfetch
      shell: cmd
      run: |
          echo %DL_NAME%
          echo %FOLDER_NAME%
          7z.exe -o"%GITHUB_WORKSPACE%\fastfetch" x "%TEMP%\fastfetch\%DL_NAME%"

    - name: Remove unused files
      shell: cmd
      run: rmdir /S /Q "%TEMP%\fastfetch"