name: Fastfetch Ubuntu 22 arm64
on:
  workflow_dispatch:
    inputs:
      use-prerelease:
        default: false
        type: 'boolean'
        required: false

jobs:
  download-and-run:
    name: setup and run
    runs-on: ubuntu-22.04-arm
    steps:
      - name: checkout repo
        uses: actions/checkout@v4
      - name: Setup Fastfetch
        uses: ./.github/workflows/fastfetch-base/ubuntu-arm64
        with:
          use-prerelease: ${{ github.event.inputs.use-prerelease }}
      - name: Run Fastfetch
        run: fastfetch -c all