name:  Windows 11 arm64 system information
on:
  workflow_dispatch:
    inputs:
      use-prerelease:
        default: false
        type: 'boolean'
        required: false

jobs:
  download-and-run:
    name: setup and run
    runs-on: windows-latest
    steps:
      - name: checkout repo
        uses: actions/checkout@v4
      - name: Setup Fastfetch
        uses: ./.github/workflows/fastfetch-base/windows-arm64
        with:
          use-prerelease: ${{ github.event.inputs.use-prerelease }}
      - name: Run Fastfetch
        shell: cmd
        run: '%cd%\fastfetch\fastfetch.exe -c all'
      - name: Run systeminfo
        shell: cmd
        run: systeminfo
      - name: Run Get-ComputerInfo
        shell: pwsh
        run: Get-ComputerInfo